name: Deployment production pipeline

on: 
  push:
    branches: 
      - main 
  pull_request: 
    branches: [ main ]
    types: [ opened, synchronize ]

jobs:
  ci: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with: 
          node-version: '20'
      - name: Install dependencies
        run: npm install
      - name: Check style
        run: npm run eslint
      - name: test
        run: npm run test
      - name: Deploy
        # Only run this step if the branch is main
        if: github.ref == 'refs/heads/main' && !contains(join(github.event.commits.*.message, ' '), '#skip')
        env:
          deploy_url: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
        run: |
          curl "$deploy_url"
          
  tag_release:
    if: github.ref == 'refs/heads/main' && !contains(join(github.event.commits.*.message, ' '), '#skip')
    needs: [ci]
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.merge_commit_sha }}
          fetch-depth: '0'

      - name: create tag_release
        uses: anothrNick/github-tag-action@1.64.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
          TAG_PREFIX: v


      

